label {
  display: block;
  font-style: italic;
  margin-top: 0.5em;
}

input {
  margin-top: 0.25em;
}

.input--single-character {
  width: calc(1em + 2ch);
}

button {
  display: block;
  margin-top: 0.25em;
  margin-left: auto;
}

.button--selection {
  margin-left: 0;
}

.button--main-action {
  margin-top: 1em;
  position: sticky;
  bottom: 0;
  box-shadow: 0 0 0.2em 0.2em rgba(255, 255, 255, 0.6);
  font-size: 1em;
}
